* {
	padding: 0px;
	margin: 0px;
	border: none;
	outline: none;
	box-sizing: border-box;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
/* global classes  */
.container {
	max-width: 1140px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 16px;
	padding-right: 16px;
}
.primary-btn {
	text-decoration: none;
	background: #0d1321;
	padding: 21px 24px;
	border-radius: 8px;
	font-weight: 600;
	font-size: 20px;
	color: #fff;
	border: 1px solid #0d1321;
	transition: 300ms;
}
.primary-btn:hover {
	background-color: transparent;
	color: #0d1321;
}
.secondary-btn {
	text-decoration: none;
	color: #0d1321;
	border: 1px solid #0d1321;
	background: transparent;
	padding: 12px 20px;
	font-size: 20px;
	font-weight: 500;
	transition: 300ms;
}
.secondary-btn:hover {
	color: white;
	background: #0d1321;
}
.section-title {
	font-size: 32px;
	font-weight: 800;
	text-align: center;
	margin-bottom: 24px;
}
.section-sub-text {
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	max-width: 65ch;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 48px;
}

/* hero-section */
.hero-section {
	background-image: url(../assets/images/Hero-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-section .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
}
.hero-section img {
	width: 100%;
	max-width: 240px;
}
.hero-section h1 {
	font-size: 48px;
	max-width: 30ch;
	text-align: center;
	font-weight: 700;
}
.hero-section p {
	font-size: 16px;
	font-weight: 400;
	max-width: 65ch;
	text-align: center;
}

/* section-why-web-dev */
.section-why-web-dev {
	padding: 74px 0px;
}
.section-why-web-dev .why-web-dev-inner-wrapper {
	background: #fafafb;
	border-radius: 16px;
	padding: 80px 97px;
}
.section-why-web-dev .why-web-dev-inner-wrapper .row {
	display: flex;
	align-items: center;
	margin-bottom: 32px;
}
.section-why-web-dev .why-web-dev-inner-wrapper .row.is-left {
	background: linear-gradient(80deg, #fff, transparent);
	padding: 48px;
	border-radius: 16px;
}
.section-why-web-dev .why-web-dev-inner-wrapper .row.is-right {
	background: linear-gradient(-80deg, #fff, transparent);
	border-radius: 16px;
	padding: 48px;
	display: flex;
	justify-content: space-between;
}
.section-why-web-dev .why-web-dev-inner-wrapper .row .content-wrapper {
	width: 50%;
}
.section-why-web-dev
	.why-web-dev-inner-wrapper
	.row
	.content-wrapper
	.row-title {
	font-size: 24px;
	margin-bottom: 16px;
	max-width: 20ch;
	color: #0d1321b2;
	font-weight: 800;
}
.section-why-web-dev
	.why-web-dev-inner-wrapper
	.row
	.content-wrapper
	.row-content {
	color: #0d1321b2;
	font-size: 16px;
	max-width: 32ch;
	margin-bottom: 32px;
}
.section-why-web-dev .why-web-dev-inner-wrapper .row .row-image-wrapper {
	width: 50%;
	display: flex;
	justify-content: end;
}
.section-why-web-dev
	.why-web-dev-inner-wrapper
	.row.is-right
	.row-image-wrapper {
	justify-content: start;
	width: 40%;
}
.section-why-web-dev .why-web-dev-inner-wrapper .row .row-image-wrapper img {
	width: 100%;
	max-width: 274px;
}
